{{#each this}}
<thead class="gallery_lot">
    <tr data-id="{{id}}">
        <th> {{date_publication}}</th>
        <th> {{lot}}</th>
        <th> {{expected_cost}}</th>
        <th> {{organizer}}</th>
        <th> {{winner}}</th>
        <th> {{lot_status}}</th>
        <th> {{status_proc}}</th>
        <th> {{buy_proc}}</th>
        <th> <a href="{{https}}" target="_blank"><span class="lot_link">Перейти</span></a></th>
    </tr>
</thead>
{{/each}}